.componentRoot {
    height: 100%;
}

.content {
    border: 1px solid #00000019;
    margin-left: 0;
    margin-right: 0;
    margin: 25px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.title {
    font-size: 17px;
    font-weight: bold;
}

router-outlet:first-child {
    height: 100%;
}

/* big sccreens */
@media screen and (min-width: 1500px) {
    .title {
        font-size: 22px;
    }
}