<div class="componentRoot row">
    <div class="content col">
        <div class="row title">
            <label class="col">דו"ח נהגים חייבים</label>
        </div>
        <router-outlet></router-outlet>      
    </div>
</div>