<div class="componentRoot">
    <form
    class="row mainRow"
    (ngSubmit)="onSubmit()"
    >
        <div class="col-9 formSection">
            <div class="row inputsRow">
                <div class="col inputsCol">
                    <div class="row">
                        <!-- <div class="col title">
                            פריטת כסף
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th class="title">פריטת כסף</th>
                                        <th>כסף נכנס</th>
                                        <th>כסף יוצא</th>
                                    </tr>
                                  <tr
                                  *ngFor="let item of cashboxIn | keys">
                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                <img [src]=_getImageUrl(item.key)>
                                            </div>
                                            <div class="col" *ngIf="_getValue(item.key)/100 > 10">
                                                שטר {{ _getValue(item.key)/100 }} ש"ח
                                            </div>
                                            <div class="col" *ngIf="_getValue(item.key)/100 <= 10 && _getValue(item.key)/100 > 0.1">
                                                מטבע {{ _getValue(item.key)/100 }} ש"ח
                                            </div>
                                            <div class="col" *ngIf="_getValue(item.key)/100 == 0.1">
                                                מטבע 10 אגורות
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <app-amount-input
                                        [type]=item.key
                                        payload="in"
                                        ></app-amount-input>
                                    </td>
                                    <td>
                                        <app-amount-input
                                        [type]=item.key
                                        payload="out"
                                        [maxValue]="currCashbox[item.key]"
                                        ></app-amount-input>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 btnSection">
            <div class="row sumLabelRow">
                <div class="col sumLabel">
                    <label>סה"כ כסף נכנס:</label>
                    <div>
                        <label class="sumAmount">{{ cashboxIn.getSum() }}</label> ש"ח
                    </div>
                </div>
                <div class="col sumLabel">
                    <label>סה"כ כסף יוצא:</label>
                    <div>
                        <label class="sumAmount">{{ cashboxOut.getSum() }}</label> ש"ח
                    </div>
                </div>
            </div>
            <div class="row submitBtnRow">
                <div class="col submitBtnCol">
                    <button
                    class="btn submitBtn"
                    type="submit"
                    [disabled]="cashboxIn.getSum() == cashboxOut.getSum() && cashboxOut.getSum() == 0"
                    [ngClass]="{'disabled': cashboxIn.getSum() != cashboxOut.getSum()}"
                    >
                    אישור פריטה</button>
                </div>
            </div>
        </div>
    </form>
</div>

<app-pop-up
    *ngIf="moreThanMax"
    >כמות זו עוברת את המקסימום שיש בקופה
</app-pop-up>

<app-pop-up
    *ngIf="lessThanZero"
    >לא ניתן להגדיר ערך שלילי
</app-pop-up>

<app-pop-up
    *ngIf="changingNoEqual"
    >השווה את סכום הפריטה
</app-pop-up>
