<div class="wrapper">
    <div class="row">
        <div class="title">
            <div class="col tabs">
                <button
                    (click)="onClickNoDepositShifts()"
                    [ngClass]="{'active': tabSelected == tab.NoDepositShifts}">
                    משמרות שלא נפרקו
                </button>
                <button
                    (click)="onClickDepositShifts()"
                    [ngClass]="{'active': tabSelected == tab.depositShifts}">
                    משמרות שנפרקו
                </button>
            </div>
            <div class="menu">
                <input
                class="form-control search"
                type="text"
                [(ngModel)]="searchText"
                autocomplete="off"
                placeholder="חיפוש">
                <app-excel-export
                [table]="table"
                [fileName]="getFileName()"
                color="black"
                ></app-excel-export>
            </div>
        </div>
    </div>
    <div class="row tableRow">
        <div
        class="col tableCol tableFixHead" #tableWrapper
        [ngStyle]="{'height': tableWrapperHeight}">
            <table class="table table-borderless" #table>
                <thead>
                    <tr>
                        <th>מספר נהג</th>
                        <th>שם נהג</th>
                        <th>מזומן להפקדה</th>
                        <th>ערך ביטולים</th>
                        <th>שולם</th>
                        <th>סכום</th>
                        <th>זכות/חובה</th>
                        <th>פירוט משמרות</th>
                    </tr>
                </thead>
                <tbody *ngIf="tabSelected == tab.NoDepositShifts">
                  <tr
                  *ngFor="let item of noDepositShifts | filter:searchText; let i = index"><div style="display: none;">{{ calcTotal(i, item.remainder) }}</div>
                    <td>{{ item.Driver_id }}</td>
                    <td>{{ item.Name }}</td>
                    <td>{{ item.cashAmount }} ₪ </td>
                    <td>{{ item.cancelAmountToDeposit }} ₪ </td>
                    <td>{{ (+item.paidAmount + +item.depositedCancelAmount).toFixed(2) }} ₪ </td>
                    <td>{{ Math.abs(item.remainder).toFixed(2) }}  ₪ </td>
                    <td>{{ item.remainder > 0 ? "זכות" : "חובה" }}</td>
                    <td
                    class="shiftDetailsLabel"
                    [routerLink]="['./', item.Driver_id, serverConstant.deposited.WITHOUT]"
                    [state]="{ name: item.Name }"  
                    >
                    פירוט משמרות </td>
                  </tr>
                </tbody>
                <tbody *ngIf="tabSelected == tab.depositShifts">
                    <tr
                    *ngFor="let item of depositShifts | filter:searchText; let i = index"><div style="display: none;">{{ calcTotal(i, item.remainder) }}</div>
                      <td>{{ item.Driver_id }}</td>
                      <td>{{ item.Name }}</td>
                      <td>{{ item.cashAmount }} ₪ </td>
                      <td>{{ item.cancelAmountToDeposit }} ₪ </td>
                      <td>{{ (+item.paidAmount + +item.depositedCancelAmount).toFixed(2) }} ₪ </td>
                      <td>{{ Math.abs(item.remainder).toFixed(2) }} ₪  </td>
                      <td>{{ item.remainder > 0 ? "זכות" : "חובה" }}</td>
                      <td
                      class="shiftDetailsLabel"
                      [routerLink]="['./', item.Driver_id, serverConstant.deposited.JUST]"
                      [state]="{ name: item.Name }"                    
                      >
                      פירוט משמרות </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                        <td>סכ"ה</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ Math.abs(total).toFixed(2) }} ₪</td>
                        <td>{{ total > 0 ? "זכות" : "חובה" }}</td>
                        <td></td>
                    </tr>
                </tfoot>
              </table>
        </div>
    </div>
</div>
        