<div class="container-fluid">
    <div class="row">
        <div
        class="col"
        *ngFor="let type of cashbox | keys">
            <div class="col">
                <app-money-header-component 
                    [type] = "type.key"
                    [amount] = "type.value" 
                >
                </app-money-header-component>
            </div>
        </div>
    </div>
</div>