.container-fluid {
    padding-bottom: 0;
    padding-top: 15px;
    padding-inline: 10px;
    height: 201px;
    border-bottom: 1px #0000000D solid;
    background-color: white;
    display: grid;
    align-items: center;
    justify-items: stretch;
}

.row {
    height: 100%;
    margin: 0;
    padding: 0;
}

.col {
    display:flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

app-money-header-component {
    /* margin-left: 6px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-block: 20px;
}

/* big sccreens */
@media screen and (min-width: 1500px) {
    .container-fluid {
        height: 223.1px;
    }
}