<div class="container">
    <h3 style="direction: ltr;">ERROR 404 - PAGE NOT FOUND</h3>
    <p>הדף שחיפשת לא קיים, הוסר או לא זמין זמנית...</p>
    <button
    routerLink="/main/home">
    חזור לדף הבית
    </button>
</div>