.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #2D5D9B;
    user-select: none; /* Standard */
}

h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    color: #9d9191;
    user-select: none; /* Standard */
    font-weight: bold;
}

p {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
    color: #9d9191;
    user-select: none; /* Standard */
    text-align: center;

}

button {
    padding: 15px 30px;
    background-color: #2D5D9B;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #668ec3;
}