<form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="mb-3">
      <label
        for="email"
        class="form-label">
        כתובת מייל</label>
      <input
        type="email"
        class="form-control"
        id="email"
        ngModel
        name="email">
    </div>
    <div class="mb-3">
      <label
        for="password"
        class="form-label">
        סיסמה</label>
      <input
        type="password"
        class="form-control"
        id="password"
        ngModel
        name="password">
    </div>
    <button
      type="submit"
      class="btn btn-primary mb-3">
      כניסה
    </button>
</form>