<div class="componentRoot">
    <form
    class="row mainRow"
    (ngSubmit)="onSubmit()"
    >
        <div class="col-9 formSection">
            <div class="row inputsRow">
                <div class="col inputsCol">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th class="title">הפקדה לקופה</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                  <tr
                                  *ngFor="let item of depositCashbox | keys">
                                    <td>
                                        <div class="row">
                                            <div class="col">
                                                <img [src]=_getImageUrl(item.key)>
                                            </div>
                                            <div class="col" *ngIf="_getValue(item.key)/100 > 10">
                                                שטר {{ _getValue(item.key)/100 }} ש"ח
                                            </div>
                                            <div class="col" *ngIf="_getValue(item.key)/100 <= 10 && _getValue(item.key)/100 > 0.1">
                                                מטבע {{ _getValue(item.key)/100 }} ש"ח
                                            </div>
                                            <div class="col" *ngIf="_getValue(item.key)/100 == 0.1">
                                                מטבע 10 אגורות
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <app-amount-input
                                        [type]=item.key
                                        payload="in"
                                        ></app-amount-input>
                                    </td>
                                    <td class="total">סה"כ {{ depositCashbox.getCoinSum(item.key) }} ש"ח</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3 btnSection">
            <div class="row sumLabelRow">
                <div class="col sumLabel">
                    <label>סה"כ להפקדה:</label>
                    <div>
                        <label class="sumAmount">{{ depositCashbox.getSum() }}</label> ש"ח
                    </div>
                </div>
            </div>
            <div class="row submitBtnRow">
                <div class="col submitBtnCol">
                    <button
                    class="btn submitBtn"
                    type="submit"
                    [disabled]="depositCashbox.getSum() == 0"
                    >
                    סיום הפקדה לקופה</button>
                </div>
            </div>
        </div>
    </form>
</div>