.componentRoot {
    height: 100%;
    padding: 0;
}

.mainRow {
    height: 100%;
}

.formSection {
    /* border: orange 1px solid; */
    height: 100%;
    padding: 0;
}

/* .title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
} */

.btnSection {
    /* border: red 1px solid; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 25px;
}

.sumLabelRow {
    width: 100%;
}

.sumLabel {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.sumAmount {
    font-size: 20px;
}

.submitBtnRow {
    width: 100%;
}

.submitBtnCol {
    padding: 0;
}

.submitBtn {
    border-radius: 5px;
    color: white;
    background-color: #2D5D9B;
    width: 100%;
}

.submitBtn[disabled] {
    cursor: not-allowed;
    pointer-events: all !important;
}

.inputsRow {
    padding: 0;
    margin: 0;
    height: 100%;
}

.inputsCol {
    border: 1px solid #00000019;
    margin-left: 0;
    margin-right: 0;
    margin: 25px;
    background-color: white;
    padding: 15px;
}

img {
    height: 25px;
}

td {
    text-align: center;
    vertical-align: middle;
}

td > div {
    align-items: center;
}

td.total {
    width: 173px;
}


/* big sccreens */
@media screen and (min-width: 1500px) {
    img {
        height: 40px;
    }

    td.total {
        width: 274px;
    }
    
    th.title {
        font-size: 22px;
    }

    .sumLabel {
        font-size: 18px;
    }
    
    .sumAmount {
        font-size: 32px;
    }
}
