<app-modal
id="unload-driver-card-enter-modal"
[backgroundClickFunction] = "closeUnloadDriverCard"
>
    <label class="titleLabel">פריקת כרטיס נהג</label>
    <hr>
    <div class="contentWrapper">
        <div class="cardReaderWrapper">
            <label>הצמד כרטיס נהג לקורא</label>
            <img
            src="assets/other/cardReader.png">
        </div>
        <div class="searchDriverWrapper">
            <label>או הקלד מס' נהג</label>
            <div class="searchDriverInput">
                <input
                class="form-control"
                type="number"
                [(ngModel)]="driverId"
                placeholder="מס' נהג">
                <button
                [disabled]="driverId == null"
                class="btn btn-primary"
                (click)="Search()">
                חפש</button>
            </div>
        </div>
    </div>

    <app-pop-up
        *ngIf="driverNoFound"
        >מספר נהג לא קיים
    </app-pop-up>
</app-modal>
