.titleLabel {
    font-weight: bold;
    font-size: 22px;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    height: 390px;
    justify-content: space-around;
    margin-inline: 100px;
    font-size: 15px;
}

.cardReaderWrapper, .searchDriverWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.cardReaderWrapper > img{
    height: 200px;
    width: 240px;
    margin-top: 15px;
}

.searchDriverInput {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-primary {
    background-color: #2D5D9B;
    border: 1px solid #007CCC;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #1b4780;
}

button[disabled] {
    cursor: not-allowed;
    pointer-events: all !important;
}