<div class="wrapper">
    <div class="row">
        <div class="col title">
            <label>{{ tableTitle }}</label>
            <div class="menu">
                <input
                class="form-control search"
                type="text"
                name="search"
                [(ngModel)]="searchText"
                autocomplete="off"
                placeholder="חיפוש">
                <app-excel-export
                [table]="table"
                [fileName]="tableTitle"
                color="black"
                ></app-excel-export>
                <button
                class="btn btn-primary"
                routerLink="/main/oweReport"
                >חזור</button>
            </div>
        </div>
    </div>
    <div class="row tableRow">
        <div
        class="col tableCol tableFixHead"
        [ngStyle]="{'height': tableWrapperHeight}"
        #tableWrapper>
            <table class="table table-borderless" #table>
                <thead>
                    <tr>
                        <th>מספר משמרת</th>
                        <th>תאריך משמרת</th>
                        <th>שעה</th>
                        <th>מזומן להפקדה</th>
                        <th>ערך ביטולים</th>
                        <th>סכום שהופקד</th>
                        <th>נשאר</th>
                        <th>זכות/חובה</th>
                    </tr>
                </thead>
                <tbody>
                  <tr
                  *ngFor="let item of shifts | filter:searchText; let i = index"><div style="display: none;">{{ calcTotal(i, +item.remainder) }}</div>
                    <td>{{ item.driverShiftNum }}</td>
                    <td>{{ item.Shift_Start ? getCleanDate(item.Shift_Start) : ""}}</td>
                    <td>{{ item.Shift_Start ? getCleanTime(item.Shift_Start) : ""}} </td>
                    <td>{{ item.cashAmount }} ₪ </td>
                    <td>{{ item.cancelAmountToDeposit }} ₪ </td>
                    <td>{{ (+item.paidAmount + +item.depositedCancelAmount).toFixed(2) }} ₪ </td>
                    <td>{{ Math.abs(item.remainder).toFixed(2) }}  ₪ </td>
                    <td>{{ item.remainder > 0 ? "זכות" : "חובה" }}</td>
                  </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>סכ"ה</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>{{ Math.abs(total).toFixed(2) }} ₪</td>
                        <td>{{ total > 0 ? "זכות" : "חובה" }}</td>
                    </tr>
                </tfoot>
              </table>
        </div>
    </div>
</div>
        