:host {
    height: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    height: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title > label {
    font-size: 18px;
    font-weight: bold;
}

/* 
.title > label.goBack {
    font-size: 18px;
    font-weight: bold;

} */

.excelExport {
    height: 25px;
    cursor: pointer;
}

.menu {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-left: 20px;
}

.tableRow, .tableCol {
    height: 100%;
}


.tableFixHead{
    overflow: auto;
}

.tableFixHead thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: inset 0 -2px 0 #000000;
    border-top: none !important;
    border-bottom: none !important;
    background:white;
}

.tableFixHead tfoot td {
    font-weight: bold;
    position: sticky;
    bottom: 0;
    z-index: 1;
    box-shadow: inset 0 2px 0 #000000;
    border-top: none !important;
    border-bottom: none !important;
    background:white;
}

/* Just common table stuff. Really. */
table  {
    border-collapse:collapse;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.tableFixHead tbody tr {
    border-bottom: 1px solid rgb(206, 206, 206);
}

.shiftDetailsLabel {
    color: #2D5D9B;
    font-weight: bold;
    cursor: pointer;
}

th, td {
    padding-block: 12px;
}

.btn-primary {
    background-color: #2D5D9B;
    border: 1px solid #007CCC;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #1b4780;
}

.search {
    border: 2px solid rgb(194, 194, 194);
    border-radius: 10px;
}

/* big sccreens */
@media screen and (min-width: 1500px) {
    table  {
        font-size: 17px;
    }

    th, td {
        padding-block: 15px;
    }
}