.loginContainer {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.loginFormRow {
    background-color: #FFFFFF;
    width: fit-content;
    margin-right: calc(10%);
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 3px 30px rgba(0,0,0,0.2);
}

.loginFormCol {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.loginForm{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
}

.title {
    color: #2D5D9B;
    font-size: 45px;
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    align-self: center;
    padding: 10px;
    margin-bottom: 30px;
}

.subTitle {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 20px;
}

.btn-primary {
    background-color: #2D5D9B;
    border: 1px solid #007CCC;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px
}

.btn-primary:hover, .btn-primary:active {
    background-color: #1b4780;
}

.loginForm > input {
    outline: none;
    border: 1px solid #00000033;
    padding: 10px;
    border-radius: 5px;
    width: 350px;
    font-size: 20px;
}

.loginAdminForm {
    display: flex;
    column-gap: 15px;
}

.loginAdminForm > input {
    outline: none;
    border: 1px solid #00000033;
    padding: 7px;
    border-radius: 5px;
    font-size: 15px;
}

.loginPopUpUserSessions {
    column-gap: 25px;
    display: flex;
    align-items: center;
}

.loginPopUpOtherSessions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popUpBtn {
    font-weight: normal;
    font-size: medium;
    border-radius: 5px;
    padding-block: 8px;
    padding-inline: 25px;
    border: none;
    width: 100px;
}

.loginPopUpUserSessionsLabels {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginPopUpUserSessions > .popUpBtn {
    margin-top: 10px;
}

.error {
    color: red;
}

.loginForm > .error {
    font-size: 20px;
    align-self: center;
    height: 30px;
}

.titleAndError {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 5px;
    align-self: start;
    width: 100%;
    display: flex;
    justify-content: space-between;
}