<div
    class="container-fluid loginContainer"
    [ngStyle]="{backgroundImage: 'url(assets/loginBackground.jpg)'}">
    <div class="row loginFormRow">
        <div class="col loginFormCol">
            <label class="title">קופת נהגים</label>
            <label class="subTitle">התחברות</label>
            <form
            class="loginForm"
            (ngSubmit)="login()"
            #loginForm="ngForm">
                <input
                    placeholder="שם משתמש"
                    type="email"
                    ngModel
                    name="email">
                <input
                    placeholder="סיסמה"
                    type="password"
                    ngModel
                    name="password"
                >
                <label class="error">{{ error }}</label>
                <button
                type="submit"
                class="btn btn-primary shadow-none"
                >
                {{ isLoading ? 'טוען...' : 'כניסה' }}
                </button>
            </form>
        </div>
    </div>
</div>

<app-select-cashbox-modal
    id="select-box-modal"
    [cashboxList]="devices">
</app-select-cashbox-modal>

<app-login-pop-up *ngIf="userOpenSessions">
    <div class="loginPopUpUserSessions">
        <div class="loginPopUpUserSessionsLabels">
            <label>הנך מחובר בדפדפן אחר ל{{ sessionStorage.getItem(sessionKeys.cashboxName) }}</label>
            <label>ניתן לבחור קופה אחרת או להתחבר בדפדפן זה</label>
        </div>
        <button
            class="btn btn-primary shadow-none popUpBtn"
            (click)="logoutFromSessions(userOpenSessions)">התחבר
        </button>
    </div>
</app-login-pop-up>

<app-login-pop-up *ngIf="otherOpenSessions">
    <div class="loginPopUpOtherSessions">
        <label>
            משתמש אחר מחובר ל{{ sessionStorage.getItem(sessionKeys.cashboxName) }}
        </label>
        <label>
            ניתן לבחור קופה אחרת או לפתוח את הקופה ע"י מנהל
        </label>
        <div class="titleAndError">
            <label>פרטי מנהל</label>
            <label class="error">{{ errorAdmin }}</label>
        </div>
        <form
            class="loginAdminForm"
            (ngSubmit)="loginAdmin()"
            #loginAdminForm="ngForm">
                <input
                    placeholder="שם משתמש"
                    type="email"
                    ngModel
                    name="email">
                <input
                    placeholder="סיסמה"
                    type="password"
                    ngModel
                    name="password"
                >
                <button
                type="submit"
                class="btn btn-primary shadow-none popUpBtn"
                >
                {{ isLoadingAdmin ? 'טוען...' : 'התחבר' }}
                </button>
            </form>
    </div>
</app-login-pop-up>


