.menuHeader {
    background-color: #2D5D9B;
    height: 100%;
    padding: 0;
}

.topRow {
    background-color: white;
    opacity: 0.95;
    padding-block: 15px;
    padding-right: 15px;
    text-align: center;
    margin: 0;
}

.cashboxName {
    font-size: 18px;
}

.sumLabel {
    font-size: 45px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 10px;
}

.textCancelsIdfVouchers {
    font-size: 12px;
}

.sumCancelsIdfVouchers {
    font-size: 18px;
    font-weight: bold;
}

.sumBox {
    border-radius: 10px;
    padding: 13px;
}

hr {
    width: 90%;
    margin: 5px;
}

.linksRow {
    color: white;
    padding: 12px;
    padding-right: 20px;
}

.linksRow>.col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.linkRow {
    font-size: 15px;
    padding-block: 10px;
    cursor: pointer;
    width: 103%;
    padding-block: 15px;
}

.linkRow.hello {
    font-size: 18px;
    margin-bottom: 10px;
    padding-top: 0;
    cursor: context-menu;
}

.linkCol.hello {
    padding-right: 9px;
}

.linkCol.hello>img {
    margin-left: 7px;
    width: 20px;
    height: 20px;
}

.linkRow.active {
    background-color: rgb(10, 70, 126);
    border-radius: 10px;
}

.sumLabelParent {
    padding: 0;
}

.nisSign {
    font-size: 30px;
    font-family: auto;
    margin-right: 3px;
}

/* very small sccreens */
@media screen and (max-width: 1255px) {
    .sumLabel {
        font-size: 35px;
    }
    .topRow {
        height: 200px;
    }
}

/* big sccreens */
@media screen and (min-width: 1500px) {
    .cashboxName {
        font-size: 25px;
    }

    .sumLabel {
        font-size: 60px;
    }

    .textCancelsIdfVouchers {
        font-size: medium;
    }

    .sumCancelsIdfVouchers {
        font-size: larger;
    }

    .linkRow {
        font-size: 17px;
    }
    
    .linkRow.hello {
        font-size: 25px;
    }

    .linksRow {
        position: relative;
        /* border: 1px solid red; */
    }

    .linksRow>.col {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}