<div class="container-fluid menuHeader">
    <div class="row topRow" #topRow>
        <div class="row">
            <div class="col cashboxName">
                {{ cashboxName }}
            </div>
        </div>
        <div class="row sumLabelParent">
            <div class="col sumLabel">
                <label>{{ cashboxSum > 999 ? cashboxSum.toLocaleString('en-US') : cashboxSum }}</label>
                <label class="nisSign">₪</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col sumCancelsIdfVouchers">
                        {{ cancels }}
                    </div>
                </div>
                <div class="row">
                    <div class="col textCancelsIdfVouchers">
                        ביטולי נסיעה
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col sumCancelsIdfVouchers">
                        {{ idfVouchers }}
                    </div>
                </div>
                <div class="row" >
                    <div class="col textCancelsIdfVouchers">
                        שוברי צה"ל
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row linksRow" [ngStyle]="{height: linksRowHeight}">
        <div class="col">
            <div>
                <div class="row linkRow hello">
                    <div class="col linkCol hello">
                        <img src="./assets/icons/avatarIcon.svg">
                        שלום {{ userName }}
                    </div>
                </div>
                <div>
                    <div
                    class="row linkRow"
                    routerLink='/main/home'
                    routerLinkActive='active'>
                        <div class="col-2">
                            <img src="./assets/icons/homePageIcon.svg">
                        </div>
                        <div class="col-10 linkText">דף הבית</div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>   
                    </div>
                    <div
                        class="row linkRow"
                        routerLink='/main/unloadDriverCard'
                        routerLinkActive='active'>
                        <div class="col-2">
                            <img src="./assets/icons/unloadDriverCardIcon.svg">
                        </div>
                        <div class="col-10 linkText">פריקת כרטיס נהג</div>
                    </div>
                    <div
                        class="row linkRow"
                        routerLink='/main/oweReport'
                        routerLinkActive='active'>
                        <div class="col-2">
                            <img src="./assets/icons/oweReportIcon.svg">
                        </div>
                        <div class="col-10 linkText">דו"ח נהגים חייבים</div>
                    </div>
                    <div
                        class="row linkRow"
                        routerLink='/main/depositHistory'
                        routerLinkActive='active'>
                        <div class="col-2">
                            <img src="./assets/icons/historyIcon.svg">
                        </div>
                        <div class="col-10 linkText">הסטוריית הפקדות</div>
                    </div>
                    <div class="row">
                        <div class="col hrParent">
                            <hr>
                        </div>   
                    </div>
                    <div
                        class="row linkRow"
                        routerLink='/main/depositToCashbox'
                        routerLinkActive='active'>
                        <div class="col-2">
                            <img src="./assets/icons/depositToCashboxIcon.svg">
                        </div>
                        <div class="col-10 linkText">הפקדה לקופה</div>
                    </div>
                    <div
                        class="row linkRow"
                        routerLink='/main/changing'
                        routerLinkActive='active'>
                        <div class="col-2">
                            <img src="./assets/icons/changingIcon.svg">
                        </div>
                        <div class="col-10 linkText">פריטת כסף</div>
                    </div>
                    <div
                        class="row linkRow"
                        routerLink='/main/stocktaking'
                        routerLinkActive='active'>
                        <div class="col-2">
                            <img src="./assets/icons/stocktakingIcon.svg">
                        </div>
                        <div class="col-10 linkText">ספירת מלאי</div>
                    </div>
                    <div class="row">
                        <div class="col hrParent">
                            <hr>
                        </div>   
                    </div>
                    <div
                        class="row linkRow"
                        routerLink='/main/depositToBank'
                        routerLinkActive='active'>
                        <div class="col-2">
                            <img src="./assets/icons/depositToBankIcon.svg">
                        </div>
                        <div class="col-10 linkText">העברת כסף לבנק</div>
                    </div>
                </div>
                
            </div>
            <div>
                <div class="row">
                    <div class="col hrParent">
                        <hr>
                    </div>   
                </div>
                <div
                    class="row linkRow">
                    <div class="col-2">
                        <img src="./assets/icons/goToBreakIcon.svg">
                    </div>
                    <div class="col-10 linkText">יציאה להפסקה</div>
                </div>
                <div
                    class="row linkRow"
                    (click)="disconnect()">
                    <div class="col-2">
                        <img src="./assets/icons/disconnectIcon.svg">
                    </div>
                    <div class="col-10 linkText">התנתק</div>
                </div>
            </div>
        </div>
    </div>
</div>