<app-modal
class="app-modal"
id="unload-specific-driver-card-modal"
[backgroundClickFunction] = "closeUnloadSpecificDriverCard"
>
    <div class="wrapper">
        <div class="title">
            <div class="titleContent">
                <div class="details">
                    <div>
                        <label>שם נהג: </label>
                        <label class="bold">{{ driverName }}</label>
                    </div>
                    <div>
                        <label>מספר נהג: </label>
                        <label class="bold">{{ driverId }}</label>
                    </div>
                </div>
                <div class="total">
                    <div>
                        <label>כמות משמרות:</label>
                        <label class="bold">{{ shiftsAmount }}</label>
                    </div>
                    <div>
                        <label>סכום לחיוב:</label>
                        <label class="bold">{{ billingAmount.toFixed(2) }} ש"ח</label>
                    </div>
                    <app-excel-export
                    *ngIf="shiftsAmount > 0"
                    [table]="table"
                    [fileName]="fileName"
                    color="white"
                    ></app-excel-export>
                </div>
            </div>
        </div>
        <div
        [ngClass]="shiftsAmount > 0 ? 'body' : 'emptyBody'"
        >
            <label
            *ngIf="shiftsAmount == 0"
            class="noShiftsLabel">
                לא קיימות משמרות להפקדה לנהג זה
            </label>
            <table
            [style.display]="shiftsAmount > 0 ? 'table' : 'none'"
            class="table table-borderless"
            #table>
                <thead>
                    <tr>
                        <th>
                            <input
                            type="checkbox"
                            (change)="checkAll(shifts, $event);"
                            [checked]="true"
                            #checkboxAll>
                        </th>
                        <th>מקור</th>
                        <th>מספר משמרת</th>
                        <th>תאריך משמרת</th>
                        <th>שעה</th>
                        <th>סכום</th>
                        <th>כמות ביטולים</th>
                        <th>כמות שוברים</th>
                    </tr>
                </thead>
                <tbody>
                <tr
                *ngFor="let item of shifts; let i = index"
                [ngStyle]="{'background-color': unloadDriverCardService.isExist(i) ? '#0000000D' : 'white'}"
                >
                    <td>
                        <input
                        type="checkbox"
                        (change)="unloadDriverCardService.onSelect(item, i, $event)"
                        [checked]="true"
                        #checkbox>
                    </td>
                    <td>בהמשך..</td>
                    <td>{{ item.driverShiftNum }}</td>
                    <td>{{ item.Shift_Start ? getCleanDate(item.Shift_Start) : ""}}</td>
                    <td>{{ item.Shift_Start ? getCleanTime(item.Shift_Start) : ""}} </td>
                    <td>{{ item.CashAmountSum }} ₪ </td>
                    <td>{{ item.cancellationDetails.length }}</td>
                    <td>{{ item.idfPaperDetails.length }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="footer">
            <div *ngIf="shiftsAmount > 0">
                <div>
                    <label>משמרות שנבחרו:</label>
                    <label class="bold">{{ unloadDriverCardService.selectedShifts.length }}</label>
                </div>
                <div>
                    <label>סכום להפקדה:</label>
                    <label class="bold">{{ unloadDriverCardService.getSumSelectedShifts().toFixed(2) }} ש"ח</label>
                </div>
            </div>
            <div>
                <form #form="ngForm" (ngSubmit)="onDeposit()">
                    <button
                        class="btn btn-primary white"
                        (click)="closeUnloadSpecificDriverCard()"
                        >חזור
                    </button>
                    <button
                        *ngIf="shiftsAmount > 0"
                        class="btn btn-primary"
                        type="submit"
                        [ngClass]="{'disabled': unloadDriverCardService.selectedShifts.length == 0}"
                        >הפקד לקופה
                    </button>
                </form>
            </div>
        </div>
    </div>

    <app-pop-up
        *ngIf="popUpIsActive"
        >יש לבחור לפחות משמרת אחת להפקדה
    </app-pop-up>
</app-modal>