/* .componentRoot {
    height: 100%;
}

.content {
    border: 1px solid #00000019;
    margin-left: 0;
    margin-right: 0;
    margin: 25px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.title {
    font-size: 17px;
    font-weight: bold;
}

@media screen and (min-width: 1500px) {
    .title {
        font-size: 22px;
    }
} */

.wrapper {
    width: 60vw;
}

.title {
    background-color: #2D5D9B;
    color: white;
    padding-block: 20px;
    height: 65.5px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.body {
    height: 70vh;
    overflow: auto;
}

.emptyBody {
    height: 70vh;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0000000D;
}

.noShiftsLabel {
    font-size: 30px;
}

.titleContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
}

.details, .total {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.bold {
    font-weight: bold;
}

.details > div, .total > div {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

thead {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: inset 0 -2px 0 #000000;
    border-top: none !important;
    border-bottom: none !important;
    background:white;
}

tfoot td {
    font-weight: bold;
    position: sticky;
    bottom: 0;
    z-index: 1;
    box-shadow: inset 0 2px 0 #000000;
    border-top: none !important;
    border-bottom: none !important;
    background:white;
}

/* Just common table stuff. Really. */
table  {
    border-collapse:collapse;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

tbody tr {
    border-bottom: 1px solid rgb(206, 206, 206);
}

th, td {
    padding-block: 12px;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin-inline: 10px;
    align-items: center;
    margin-top: 40px;
}

.footer > div, .footer > div > * {
    display: flex;
    column-gap: 10px;
}

input[type="checkbox"] {
    cursor: pointer;
}

.btn-primary {
    background-color: #2D5D9B;
    border-radius: 5px;
    width: 180px;
}

.btn-primary.white {
    color: #2D5D9B;
    border: 1px solid #2D5D9B;
    background-color: white;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #1b4780;
}

.btn-primary.white:hover, .btn-primary.white:active {
    background-color: #f1f7ff;
}

button.disabled {
    background-color: #5a84bb;
    cursor: not-allowed;
    pointer-events: all !important;
    box-shadow: none;
}

button.disabled:hover, button.disabled:active  {
    background-color: #5a84bb;
    box-shadow: none;
}

app-excel-export {
    margin-right: 30px;
}

/* big sccreens */
@media screen and (min-width: 1500px) {
    table, .title  {
        font-size: 17px;
    }

    th, td {
        padding-block: 15px;
    }
}