.wrapper {
    width: 80vw;
    overflow: auto;
}

.wrapper > .title {
    background-color: #2D5D9B;
    color: white;
    padding-block: 20px;
    height: 65.5px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.titleContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
}

.details, div.total {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.bold {
    font-weight: bold;
}

.details > div, div.total > div {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.body {
    /* height: 100%; */
    /* height: 60vh; */
    padding: 0;
    background-color: #F9F9F9;
}

.bodyWrapper {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    column-gap: 20px;
}

.moneySection {
    border: 2px solid #00000019;
    background-color: white;
    width: 70%;
    border-radius: 5px;
}

table {
    margin: 0;
}

tr {
    text-align: center;
    border-bottom: 1px solid rgb(206, 206, 206);
}

tr.footer {
    border-bottom: none;
    font-size: 17px;
    font-weight: bold;
}

tr.footer>td {
    padding-block: 20px;
}

td {
    text-align: center;
    vertical-align: middle;
}

td.total {
    font-weight: bold;
}

td>div {
    align-items: center;
}

.leftSection {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 20px;
}

.cancels, .idfVouchers {
    display: flex;
    flex-direction: column;
    border: 2px solid #00000019;
    background-color: white;
    border-radius: 5px;
    padding-block: 10px;
    padding-inline: 15px;
}

.cancels > .title, .idfVouchers > .title {
    display: flex;
    justify-content: space-between;
    margin-inline: 5px;
    font-weight: bold;
}

.cancels > .title > div, .idfVouchers > .title > div {
    display: flex;
    column-gap: 5px;
    align-items: center;
}

.cancels > .noContent, .idfVouchers > .noContent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancels > .tableWrapper, .idfVouchers > .tableWrapper {
    overflow: auto;
}

input[type="checkbox"] {
    cursor: pointer;
}

hr {
    margin-block: 10px;
    align-self: stretch;
}

.btn-primary {
    background-color: #2D5D9B;
    border-radius: 5px;
    font-weight: bold;
}

.btn-primary:hover, .btn-primary:active {
    background-color: #1b4780;
}

.payback-modal {
    display: none;
}

.paybackWrapper {
    width: 80vw;
    background-color: #F9F9F9;
    margin: 0;
}

.moneySection {
    background-color: white;
    border: 1px solid #00000019;
    margin: 20px;
}

.moneySection {
    border: 2px solid #00000019;
    background-color: white;
    width: 70%;
    border-radius: 5px;
}

.btnSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.btnSectionTilte {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
}

.btnSectionTilte > .sum {
    font-size: 30px;
}

.bottomRow {
    margin: 0;
    padding: 0;
}
.moneySectionLabel {
    display: flex;
    flex-direction: column;
    padding: 15px;
    row-gap: 15px;
}

.moneySectionMainLabel {
    font-size: 30px;
    font-weight: bold;
}

.moneySectionSubLabel {
    font-size: 20px;
}

.exitBtnRow {
    padding: 0;
}

.exitBtn {
    cursor: pointer;
    font-family: cursive;
    font-weight: bold;
    padding: 0;
    margin-top: 5px;
    text-align: left;
}

.exitBtn:hover {
    color: grey;
}

.wrapper > .title  {
    font-size: 15px;
}

img {
    height: 20px;
}

/* big sccreens */
@media screen and (min-width: 1500px) {
    .wrapper > .title  {
        font-size: 17px;
    }

    img {
        height: 20px;
    }

    .tableImg {
        height: 40px;
    }

    td.total {
        width: 274px;
    }

    tr.footer {
        font-size: 20px;
    }

    .btnSectionTilte {
        font-size: 25px;
    }

    .wrapper {
        width: 60vw;
    }

    .paybackWrapper {
        width: 60vw;
    }
}