<app-modal
id="deposit-driver-card-modal"
[backgroundClickFunction] = "closeDepositDriverCard"
>
    <div class="wrapper">
        <div class="title">
            <div class="titleContent">
                <div class="details">
                    <div>
                        <label>שם נהג: </label>
                        <label class="bold">{{ driverName }}</label>
                    </div>
                    <div>
                        <label>מספר נהג: </label>
                        <label class="bold">{{ driverId }}</label>
                    </div>
                </div>
                <div class="total">
                    <div>
                        <label>כמות משמרות להפקדה:</label>
                        <label class="bold">{{ shifts.length }}</label>
                    </div>
                    <div>
                        <label>סכום לחיוב:</label>
                        <label class="bold">{{ billingSum.toFixed(2) }} ש"ח</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="bodyWrapper">
                <div class="moneySection">
                    <table class="table table-borderless">
                        <tbody>
                            <tr
                              *ngFor="let item of depositCashbox | keys | withoutPapers">
                                <td>
                                    <div class="row">
                                        <div class="col">
                                            <img class="tableImg" [src]=_getImageUrl(item.key)>
                                        </div>
                                        <div class="col" *ngIf="_getValue(item.key)/100 > 10">
                                            שטר {{ _getValue(item.key)/100 }} ש"ח
                                        </div>
                                        <div class="col" *ngIf="_getValue(item.key)/100 <= 10 && _getValue(item.key)/100 > 0.1">
                                            מטבע {{ _getValue(item.key)/100 }} ש"ח
                                        </div>
                                        <div class="col" *ngIf="_getValue(item.key)/100 == 0.1">
                                            מטבע 10 אגורות
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        <app-amount-input
                                        [type]=item.key
                                        payload="in"
                                        info="deposit"
                                        ></app-amount-input>
                                    </div>
                                </td>
                                <td class="total">
                                    <div *ngIf="depositCashbox.getCoinSum(item.key) > 0">
                                        {{ depositCashbox.getCoinSum(item.key).toFixed(2) }} ₪
                                    </div>
                                </td>
                            </tr>
                            <tr class="footer">
                                <td></td>
                                <td></td>
                                <td class="total">
                                    <div>
                                        סה"כ {{ depositCashbox.getSum().toFixed(2) }} ₪
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="leftSection">
                    <div
                    class="cancels" 
                    [ngStyle]="{'height': cancelsIdfVouchersHeight}"
                    #cancelsDiv>
                        <div class="title">
                            <div>
                                <img src="assets/cashboxDataType/11.svg">
                                <label>ביטולים</label>
                            </div>
                            <div>
                                <label>{{ cancels.length }}</label>
                            </div>
                        </div>
                        <hr>
                        <div *ngIf="cancels.length == 0" class="noContent">
                            <label>אין ביטולים להפקדה</label>
                        </div>
                        <div *ngIf="cancels.length > 0" class="tableWrapper">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <input
                                                type="checkbox"
                                                (change)="checkAll('cancels', $event)"
                                                #cancelCheckboxAll
                                            >
                                        </th>
                                        <th>מספר כרטיס</th>
                                        <th>מחיר</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of cancels; let i = index">
                                        <td>
                                            <input
                                                type="checkbox"
                                                (change)="onCheck('cancels', item, $event)"
                                                #cancelCheckbox
                                            >
                                        </td>
                                        <td>{{ item.idForCashbox }}</td>
                                        <td>{{ item.priceForCashbox }} ש"ח</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div
                    class="idfVouchers"
                    [ngStyle]="{'height': cancelsIdfVouchersHeight}">
                        <div class="title">
                            <div>
                                <img src="assets/cashboxDataType/12.svg">
                                <label>שוברי צה"ל</label>
                            </div>
                            <div>
                                <label>{{ idfVouchers.length }}</label>
                            </div>
                        </div>
                        <hr>
                        <div *ngIf="idfVouchers.length == 0" class="noContent">
                            <label>אין שוברי צה"ל להפקדה</label>
                        </div>
                        <div *ngIf="idfVouchers.length > 0" class="tableWrapper">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <input
                                                type="checkbox"
                                                (change)="checkAll('idfVouchers', $event)"
                                                #idfVoucherCheckboxAll
                                            >
                                        </th>
                                        <th>מספר כרטיס</th>
                                        <th>מחיר</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of idfVouchers; let i = index">
                                        <td>
                                            <input
                                                type="checkbox"
                                                (change)="onCheck('idfVouchers', item, $event)"
                                                #idfVoucherCheckbox
                                            >
                                        </td>
                                        <td>{{ item.idForCashbox }}</td>
                                        <td>{{ item.priceForCashbox }} ₪</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <button
                    class="btn btn-primary"
                    (click)="onClickDeposit()">
                    <div *ngIf="getPayback() > 0">
                        הפקדה והחזרת עודף
                        <label style="font-weight: normal;">{{ getPayback().toFixed(2) }} ₪</label>
                    </div>
                    <div *ngIf="getPayback() <= 0">
                        הפקדה
                    </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</app-modal>

<app-info-modal
    id="info-modal"
    [backgroundClickFunction]="infoModalBackgroundClickFunction"
    [icon]="infoModalIcon"
    [title]="infoModalTitle"
    [subTitle]="infoModalSubTitle"
    [hr]="infoModalHr"
    [btnTitle]="infoModalBtnTitle"
    [btnRightText]="infoModalBtnRightText"
    [btnRightClickFun]="infoModalBtnRightClickFun" 
    [btnLeftText]="infoModalBtnLeftText" 
    [btnLeftClickFun]="infoModalBtnLeftClickFun"
    [error]="infoModalError"> 
</app-info-modal>

<app-modal
class="payback-modal"
id="payback-modal"
[backgroundClickFunction]="null"
>
    <div class="row paybackWrapper">
        <div class="row exitBtnRow">
            <label
                class="exitBtn"
                (click)="closePaybackModal()">
            X</label>
        </div>
        <div class="row bottomRow">
            <div class="col-9 moneySection">
                <div class="moneySectionLabel">
                    <label class="moneySectionMainLabel">עודף</label>
                    <label class="moneySectionSubLabel">הזן את הכסף שמוחזר לנהג כעודף</label>
                </div>
                <table class="table table-borderless">
                    <tbody>
                        <tr
                          *ngFor="let item of paybackCashbox | keys | withoutPapers">
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <img class="tableImg" [src]=_getImageUrl(item.key)>
                                    </div>
                                    <div class="col" *ngIf="_getValue(item.key)/100 > 10">
                                        שטר {{ _getValue(item.key)/100 }} ש"ח
                                    </div>
                                    <div class="col" *ngIf="_getValue(item.key)/100 <= 10 && _getValue(item.key)/100 > 0.1">
                                        מטבע {{ _getValue(item.key)/100 }} ש"ח
                                    </div>
                                    <div class="col" *ngIf="_getValue(item.key)/100 == 0.1">
                                        מטבע 10 אגורות
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <app-amount-input
                                    [type]="item.key"
                                    [maxValue]="currCashbox[item.key]"
                                    payload="out"
                                    info="payback"
                                    ></app-amount-input>
                                </div>
                            </td>
                            <td class="total">
                                <div *ngIf="paybackCashbox.getCoinSum(item.key) > 0">
                                    {{ paybackCashbox.getCoinSum(item.key).toFixed(2) }} ₪
                                </div>
                            </td>
                        </tr>
                        <tr class="footer">
                            <td></td>
                            <td></td>
                            <td class="total">
                                <div>
                                    סה"כ {{ paybackCashbox.getSum().toFixed(2) }} ₪
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-3 btnSection">
                <div></div>
                <div class="btnSectionTilte">
                    <label>נדרש להחזיר לנהג:</label>
                    <hr>
                    <label class="sum">{{ getPayback().toFixed(2) }} ₪</label>
                </div>
                <button
                class="btn btn-primary"
                (click)="finshPayback()"
                [disabled]="getPayback() != 0">
                    סיום
                </button>
            </div>
        </div>
    </div>

    <app-pop-up
        *ngIf="moreThanMax"
        >כמות זו עוברת את המקסימום שיש בקופה
    </app-pop-up>
    
    <app-pop-up
        *ngIf="lessThanZero"
        >לא ניתן להגדיר ערך שלילי
    </app-pop-up>
</app-modal>
