<div class="container-fluid app-container">
    <div class="row app-row">
        <div class="col-2 right-side">
            <app-menu-header></app-menu-header>
        </div>
        <div class="col-10 left-side">
            <div class="row app-money-header-parent">
                <app-money-header></app-money-header>
            </div>
            <div class="row router-outlet-row">
                <div class="col router-outlet-col" [ngStyle]="{height: routerOutletRowHeight}">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>