.generalContainer {
    z-index: 20;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.contentWrapper {
    position: absolute;
    bottom: 15px;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding-block: 20px;
    padding-inline: 25px;
}

.close {
    position: absolute;
    left: 10px;
    top: 5px;
    cursor: pointer;
}

/* .wrapper::ng-deep button{
    font-weight: normal;
    font-size: medium;
    border-radius: 5px;
    padding: 8px;
    border: none;
} */