.titleDiv {
    display: flex;
    flex-direction: column;
}

table {
    width: 50vw;
    margin-bottom: 0;
}

.btnsCol {
    display: flex;
    justify-content: end;
    column-gap: 25px;
}

button {
    padding-inline: 20px;
}

.submitBtn {
    border-radius: 5px;
    color: white;
    background-color: #2D5D9B;
}

.submitBtn[disabled] {
    cursor: not-allowed;
    pointer-events: all !important;
}

.cancelBtn {
    border: 1px solid #2D5D9B;
}

img {
    height: 25px;
}

td {
    text-align: center;
    vertical-align: middle;
}

td>div {
    align-items: center;
}

td.totalCoin {
    width: 173px;
}

tr.total > td {
    border-bottom: none;
}

td.total {
    width: 173px;
    font-weight: bold;
    font-size: 20px;
}

td.total > label {
    font-size: 25px;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 12px;
    padding-top: 6px;
}

.title {
    font-size: 19px;
    font-weight: bold;
}

.subTitle {
    font-size: 16px;
}

/* big sccreens */
@media screen and (min-width: 1500px) {
    img {
        height: 40px;
    }

    td.totalCoin {
        width: 274px;
    }

    td.total {
        width: 274px;
    }
    
    .title {
        font-size: 22px;
        font-weight: bold;
    }

    .subTitle {
        font-size: 15px;
    }
}
