<app-modal
id="stocktaking-modal"
[backgroundClickFunction] = "closeStocktaking"
>
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col titleDiv">
                <label class="title">ספירת מלאי</label> 
                <label class="subTitle">הכנס את כמות הכסף שיש בקופה</label> 
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table">
                    <tbody>
                        <tr *ngFor="let item of stocktakingCashbox | keys">
                            <td>
                                <div class="row">
                                    <div class="col">
                                        <img [src]=_getImageUrl(item.key)>
                                    </div>
                                    <div class="col" *ngIf="_getValue(item.key)/100 > 10">
                                        שטר {{ _getValue(item.key)/100 }} ש"ח
                                    </div>
                                    <div class="col" *ngIf="_getValue(item.key)/100 <= 10 && _getValue(item.key)/100 > 0.1">
                                        מטבע {{ _getValue(item.key)/100 }} ש"ח
                                    </div>
                                    <div class="col" *ngIf="_getValue(item.key)/100 == 0.1">
                                        מטבע 10 אגורות
                                    </div>
                                </div>
                            </td>
                            <td>
                                <app-amount-input
                                [type]=item.key
                                payload="in"
                                ></app-amount-input>
                            </td>
                            <td class="totalCoin">
                                סה"כ {{ stocktakingCashbox.getCoinSum(item.key) > 999 ? stocktakingCashbox.getCoinSum(item.key).toLocaleString('en-US') : stocktakingCashbox.getCoinSum(item.key) }} ש"ח
                            </td>
                        </tr>
                        <tr class="total">
                            <td></td>
                            <td></td>
                            <td class="total">
                                סה"כ <label>{{ stocktakingCashbox.getSum() > 999 ? stocktakingCashbox.getSum().toLocaleString('en-US') : stocktakingCashbox.getSum() }}</label> ש"ח
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col btnsCol">
                <button
                    class="btn cancelBtn"
                    type="button"
                    (click)="closeStocktaking()">
                    ביטול ספירה
                </button>
                <button
                    class="btn submitBtn"
                    type="submit">
                    סיום ספירת מלאי
                </button>
            </div>
        </div>
    </form>
</app-modal>


<app-info-modal
    id="info-modal"
    [backgroundClickFunction]="infoModalBackgroundClickFunction"
    [icon]="infoModalIcon"
    [title]="infoModalTitle"
    [subTitle]="infoModalSubTitle"
    [hr]="infoModalHr"
    [btnTitle]="infoModalBtnTitle"
    [btnRightText]="infoModalBtnRightText"
    [btnRightClickFun]="infoModalBtnRightClickFun" 
    [btnLeftText]="infoModalBtnLeftText" 
    [btnLeftClickFun]="infoModalBtnLeftClickFun"
    [error]="infoModalError"> 
</app-info-modal>
