<div class="row">
    <div class="col">
        <img src= {{imageUrl}}>
    </div>
</div>
<div class="row">
    <div class="col">
        {{ amount }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ sum }} 
    </div>
</div>