* {
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}

img {
    height: 35px;
}

/* big sccreens */
@media screen and (min-width: 1800px) {
    * {
        font-weight: bold;
    }

    img {
        height: 70px;
    }
}