<app-modal
    [id]="id"
    style="display: none;">
    <div class="row">
        <div class="col-1">
            <img src="./assets/icons/selectCashboxIcon.svg">
        </div>
        <div class="col-11">
            <label class="title">אנא בחר קופה</label>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col cashboxList">
            <div *ngFor="let cashbox of cashboxList; let id = index">
                <button
                    class="cashboxButton"
                    (click)="onSelect(cashbox, id)"
                    [disabled]="cashbox.Status_id == cashboxStatus.LOCKED">
                    <div *ngIf="selected == id">
                        טוען..
                    </div>
                    <div *ngIf="selected != id" class="btnTextDiv">
                        <div>{{ cashbox.DeviceDescr ? cashbox.DeviceDescr : "קופה ללא שם" }}</div>
                        <div>{{ cashbox.Device_id }}</div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</app-modal>