.title {
    font-size: 18px;
    font-weight: bold;
}

.cashboxList {
    display: flex;
    flex-direction: column;
    max-height: 600px;
    overflow: auto;
}

.cashboxButton {
    font-size: 18px;
    width: 400px;
    font-weight: bold;
    margin-block: 15px;
    padding: 10px;
    background-color: white;
    border: 2px solid #2D5D9B;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #0000001A;
}

.cashboxButton:hover {
    box-shadow: 2px 2px 10px #00000081;
}

button:disabled {
    border-color: gray;
    cursor: not-allowed;
}

button:disabled:hover {
    box-shadow: 2px 2px 10px #0000001A;
}

.btnTextDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 20px;
}