.wrapper,.titleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    padding-inline: 20px;
    justify-content: space-around;
    height: 315px;
}

.icon {
    height: 65px;
    margin-top: 10px;
}

.title {
    font-size: 28px;
    font-weight: bold;
}

.subTitleDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subTitle {
    font-size: 17px;
}

hr {
    width: 100%; 
}

.btnTitle {
    font-size: 20px;
}

.btnDiv {
    display: flex;
    column-gap: 25px;
}

button {
    border-radius: 5px;
    padding-inline: 20px;
}

.btnRight {
    border: 1px solid #2D5D9B;
}

.btnLeft {
    color: white;
    background-color: #2D5D9B;
}

.error {
    background-color: #FFF5F5;
    border: solid 1px #B53535;
    padding: 10px;
    display: flex;
    column-gap: 10px;
    color: #B53535;
    font-weight: bold;
}