<app-modal
    [id]="id"
    style="display: none;"
    [backgroundClickFunction]="backgroundClickFunction">
    <div class="wrapper">
        <img class="icon" src={{icon}}>
        <div class="titleDiv">
            <label class="title"> {{ title }} </label>
            <div *ngIf="subTitle" class="subTitleDiv">
                <label *ngFor="let line of subTitle;" class="subTitle">
                    {{ line }}
                </label>
            </div>
        </div>
        <div *ngIf="error" class="error">
            <img src="assets/icons/infoIcons/error.svg" style="height: 25px;">
            <label>{{ error }}</label>
        </div>
        <hr *ngIf="hr">
        <label *ngIf="btnTitle" class="btnTitle">{{ btnTitle }}</label>
        <div class="btnDiv">
            <button *ngIf="btnRightText" class="btn btnRight" (click)="btnRightClickFun()">{{ btnRightText }}</button>
            <button *ngIf="btnLeftText" class="btn btnLeft" (click)="btnLeftClickFun()">{{ btnLeftText }}</button>
        </div>
    </div>
</app-modal>